.header {
  background-color: rgb(195, 247, 247);
  color: rgb(0, 0, 0);
  padding: 25px;
  border-radius: 5px;
}

.todo-link {
  color: black;
}

.signout-button {
  float: right;
  background-color: rgb(195, 247, 247);
  color: black;
  padding: 3px;
  border: none;
}

.signup-button {
  float: right;
  background-color: rgb(195, 247, 247);
  color: black;
  padding: 3px;
  border: none;
}

.signin-button {
  float: right;
  background-color: rgb(195, 247, 247);
  color: black;
  padding: 3px;
  border: none;
}
